body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBECE4;
}

.headers {
    padding: 20px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efd0c0;
}

.headers-logo, .headers-button {
    display: flex;
    justify-content: center;
}

.headers-logo {
    height: 100px;
}

.headers-logo:hover {
    cursor: pointer;
}

.headers-logo-img {
    height: 100%;
}

.header-buttons-element,
.create-visit-btn {
    margin: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #ffff;
    cursor: pointer;
    background-color: #FB6D17;
}

.header-buttons-element:hover {
    background-color: #F45C5D;
}

.header-buttons-element:focus,
.create-visit-btn:focus {
    outline: none;
}

.login-form,
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

form input {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    width: 240px;
}

form textarea {
    height: 100px;
    width: 240px;
}

.form-submit {
    border: none;
    background-color: #FB6D17;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.form-submit:hover {
    background-color: #F45C5D;
}

.modal {
    box-sizing: border-box;
    margin: auto;
    padding: 40px;
    border: 1px solid #F45C5D;
    border-radius: 20px;
    /*width: 500px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    z-index: 5;
}

.close {
    box-sizing: border-box;
    background-color: #FB6D17;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 2px;
    /*z-index: 10;*/
}

.close:hover {
    background-color: #F45C5D;
}

.form-control {
    margin: 10px 0;
}

.form-submit {
    margin: 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.card-wrapper {
    width: 300px;
    height: 400px;
    display: inline-block;
    border: 2px solid #FB6D17;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
}

.hidden-info {
    display: none;
}

.show-more-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.change-card-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/*error message style*/
.error-msg {
    color: red;
    position: absolute;
    font-style: italic;
    top: -30px;
}

.form-error {
    color: red;
    position: absolute;
    font-style: italic;
    bottom: -30px;
}
.filter-error{
    position: absolute;
    color: red;
    font-style: italic;
    width: 300px;
    left: -100px;
}

.select-doctor {
    width: 250px;
}

.dentist-form > select:nth-child(1) {
    width: 250px;
    margin: 10px;
}

.dentist-form > textarea:nth-child(4) {
    width: 240px;
    height: 100px;
}

.addCardPlus {
    background-color: green;
}


/*filter style*/
.select-doctor-filter,
.select-priority-filter,
.filter-btn,
.reset-btn{
    position: absolute;
}

.select-doctor-filter {
    left: 200px
}

.select-priority-filter {
    left: 350px;
}
.filter-btn{
    left: 500px;
    top:40px
}
.reset-btn{
    left: 600px;
    top:40px
}

.reset-btn,
.filter-btn {
    margin: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #ffff;
    cursor: pointer;
    background-color: #FB6D17;
}
.reset-btn:focus,
.filter-btn:focus{
    outline: none;
}